* {
    font-family: Helvetica;
}

h1{
    background-image: url("Images/finnish.jpeg");
    font-size: 100px;
    font-weight: bold;
    color:khaki;
}

h2{
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.price {
    font-weight: bold;
    color: blue;
}

.green {
    background-color: mediumspringgreen;
}
.red{
    background-color: lightcoral;
}
.blue{
    background-color: skyblue;
}